@tailwind base;
@tailwind components;
@tailwind utilities;

/* Estilos globales para arreglar el scroll y fuentes */
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}